@charset "UTF-8";

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-Hairline.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "MyLato";
    src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    font-family: 'MyLato';
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    color: #fff;

    z-index: 1000;
}

.content-text {
    position: relative;
    text-align: center;
}

.content-text img {
    width: 270px;
    height: auto;

    border: 8px #fff solid;
    border-radius: 270px;

    -webkit-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    -ms-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    -o-box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
    box-shadow: 0 3px 20px -1px rgba(0,0,0,0.36);
}

.content-text h1 {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.content-text p {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.content-text #clock {
    padding-top: 30px;
    font-weight: 500;
    font-size: 90px;
    color: #fd80cd;
}

.layer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;

    background: rgb(118, 108, 244);
    background: -moz-linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
    background: -webkit-linear-gradient(-45deg, #AA076B 0%, #61045F 100%);
    background: linear-gradient(135deg, #AA076B 0%, #61045F 100%);
    opacity: .9;
}

.video-backgound {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 998;
}

nav {
    padding-top: 32px;
    position: relative;
    height: 60px;
}

nav .title {
    position: relative;
    height: 100%;
}

nav .title img {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 40px;
    right: 0;
    left: 0;
    text-align: center;

    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
    }
}